.user-container {
  margin-bottom: 50px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}
.forgot-pass {
  background-color: #fff;
  color: rgb(221, 66, 66);
  border: none;
}
/* responsive mobile */
@media screen and (max-width: 425px) {
  .user-container {
    width: 100% !important;
  }
}
